$theme-yellow: (
  background: #f7ad1e,
  primaryText: #230901,
  dark: #631708,
  medium: #961b0b,
  light: #bf3a07,
);

$theme-dark: (
  background: #1c1c1f,
  primaryText: #e0e2e8,
  dark: #394054,
  medium: #7daf90,
  light: #b0c0d4,
);

$theme-light: (
  background: #fdfdfb,
  primaryText: #322f33,
  dark: #8c9c7c,
  medium: #0a5462,
  light: #e8eacc,
);
