@use '@/styles/tokens' as t;

.heroTitleContent {
  position: relative;
  z-index: 2;
  padding: 350px t.$space-6xl;
  pointer-events: none;
  text-align: right;
  max-width: 1500px;
  margin-right: 0;
  margin-left: auto;
  z-index: 8;

  .heroTitle,
  .heroSubtitle {
    pointer-events: auto;
  }

  .heroTitle {
    font-size: 135px;
    font-weight: t.$font-weight-bold;
    line-height: 1;
    text-align: right;
  }

  .heroSubtitle {
    font-size: t.$text-xl;
    font-weight: t.$font-weight-light;
    line-height: 1.5;
    text-align: right;
    color: var(--muted);
  }
}

.heroParallaxContent {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;

  .balloon {
    position: absolute;
    z-index: 2;
    pointer-events: none;

    img {
      display: block;
      width: auto;
      height: auto;
    }
  }
  .balloon1 {
    left: 100px;
    top: 3%;
  }

  .balloon2 {
    left: 15%;
    bottom: -12%;
    z-index: 9;
  }

  .balloon3 {
    left: 44%;
    top: 38%;
    z-index: 7;
  }

  .balloon4 {
    left: 34%;
    top: 18%;
  }

  .balloon5 {
    left: 45%;
    bottom: 8%;
  }

  .balloon6 {
    left: 68%;
    top: 10%;
  }

  .balloon7 {
    right: 5%;
    bottom: 24%;
    z-index: 7;
  }

  .balloon9 {
    right: 25%;
    bottom: 0;
    z-index: 8;
  }
}

@media (max-width: t.$breakpoint-md) {
  .heroTitleContent {
    padding: 150px t.$space-6xl;

    .heroTitle {
      font-size: 100px;
    }

    .heroSubtitle {
      font-size: 24px;
    }
  }

  .heroParallaxContent {
    .balloon1,
    .balloon3,
    .balloon5,
    .balloon6 {
      display: none;
    }

    .balloon2 {
      left: 10%;
      bottom: 12%;
    }
    .balloon4 {
      top: 2%;
      left: 8%;
    }
    .balloon7 {
      bottom: 18%;
    }
    .balloon9 {
      right: 10%;
      bottom: -15%;
    }
  }
}

@media (max-width: t.$breakpoint-sm) {
  .heroTitleContent {
    padding-top: 150px;
    padding-right: 30px;
    .heroTitle {
      font-size: 60px;
    }

    .heroSubtitle {
      font-size: 18px;
    }
  }

  .heroParallaxContent {
    .balloon img {
      transform: scale(0.8);
    }

    .balloon5 {
      display: none;
    }

    .balloon2 {
      left: -30%;
      bottom: 5%;
    }

    .balloon9 {
      right: -10%;
      bottom: -15%;
    }

    .balloon7 {
      display: flex;
      width: 80px;
      height: auto;
      left: 80%;
      bottom: 32%;
      z-index: 0;
    }
  }
}
