.last {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #4A919E;
  width: 50vw;

  .lastForm {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2em;
    img{
      top: 0.5em;
      right: 0.5em;
      cursor: pointer;
      width: 1.5em;
      position: absolute;
    }
    .contactForm {
      width: 80%;
      .titles {
        padding-top: 0.5em;
        font-weight: 600;
        margin-bottom: 1em;
      }

      div {
        font-size: 0.8em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1em;
        min-height: 8vh;

        label {
          margin-bottom: 0.5em;
        }
        strong{
          color: red;
          font-size: 0.8em;
        }
        input {
          width: 100%;
          background-color: transparent;
          border-bottom: 1px solid #4A919E;
          border-top: none;
          border-left: none;
          border-right: none;
          outline: none;
          z-index: 1000;
        }
        input[type="email"]:focus{
        }
        input::placeholder {
          color: #4A919E;
        }
        textarea::placeholder {
          color: #4A919E;
        }
        textarea {
          border: 1px solid #4A919E;
          padding: 0.5em;
          display: flex;
          background-color: transparent;
          height: 9vh;
          outline: none;
          width: 100%;
        }
      }


      .bt {
        align-items: center;
      }
    }
  }
}