.last {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44vh;

  .lastForm {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    img{
      cursor: pointer;
      top: -1em;
      right: 2em;
      width: 1.5em;
      position: absolute;
    }
    .contactForm {
      width: 80%;

      .titles {
        padding-top: 0.5em;
        font-weight: 600;
        margin-bottom: 1em;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1em;

        label {
          margin-bottom: 0.5em;
        }

        input {
          width: 100%;
          background-color: transparent;
          border-bottom: 1px solid cadetblue;
          border-top: none;
          border-left: none;
          border-right: none;
          outline: none;
          z-index: 1000;
        }

        input::placeholder {
          color: cadetblue;
          font-size: 0.8em;
        }

        textarea::placeholder {
          color: cadetblue;
          font-size: 0.8em;
        }

        textarea {
          border: 1px solid cadetblue;
          padding: 0.5em;
          display: flex;
          background-color: transparent;
          height: 9vh;
          outline: none;
          width: 100%;
        }
      }

      .bt {
        align-items: center;
      }
    }
  }
}