@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@900&display=swap');

.bioContainer {
  background-color: #021b39;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120vh;
}

.bioContent {
  width: 70%;
  padding-left: 1em;
  font-family: "montserrat", serif;
  font-size: 1.3em;

  background: linear-gradient(to right, snow, rgb(236, 231, 205), #abb5e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bioContent h1 {
  font-weight: lighter;
  font-style: italic;

  background: linear-gradient(to right, snow, rgb(131, 205, 224), black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.a{
  font-family: 'Aclonica','Lobster', cursive;
  font-size: 1.4em;
  display:inline
}
.b{
  font-family: 'Elsie', cursive;
  font-size: 1.9em;
  display:inline
}

.bioContent p {
  font-size: 1.2em;
}

.bioContent span {
  font-style: normal;
  font-size: 1.5em;
  font-family: 'Ranchers',serif;
}

.bioContent a {
  color: springgreen;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bioContent a:hover {
  color: rgb(235, 180, 78);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.icon{
  color: snow;
  font-size: 1.5em;
}
.icon:hover{
  cursor: pointer;
  color: #67b192;
}
.iconCont{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}
@media screen and (max-width:500px){
  .bioContainer {
   font-size: 0.75em;
    height: 100vh;
  }
  .bioContent {
    width: 95%;
  }
  .bioContent span{
    font-size: 1.2em;
  }
  .bioContent h1{
    font-size: x-large;
  }
}
@media screen and (max-width:375px){
  .bioContent{
    font-size: 1.1em;
  }
  .bioContent h1{
    font-size: 1.6em;
  }
}
@media screen and (max-width:550px){
  .bioContent{
    font-size: 1em;
  }
  .bioContent h1{
    font-size: 1.6em;
  }
}


