@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@900&display=swap');
.compContainer{
  background-color: #282727;
  font-family: 'Elsie', cursive;
  padding: 1em;
  width: 100%;
  height: 100vh;
}
.compContainer h1{
  font-size: 4em;
  color: snow;
  text-align: center;
}
.compContainer span{
  color: #5555c8;
}
.compContent span{
  color: #9ad09a;
}
.compContent h2{
  font-size: 1.8em;

}
.compContent{
  width: 80%;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon{
  font-size: 1.5em;
  color: snow;
}
.icon:hover{
  cursor: pointer;
  color:#b57645;
}
.iconCont{
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.progressBlock{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.4em;
}

.progressglobal{
  width: 75%;
  color: snow;
  padding: 1em;
}
.train{
}
@media screen and (max-width:850px){
  .compContainer {
    font-size: 0.9em;
  }
  .compContent {
    width: 90%;
    font-size: 0.9em;
  }
  .compContainer h1{
    font-size: 3.2em;
  }
}
@media screen and (max-width:450px){
  .compContainer {
    font-size: 0.7em;
  }
  .compContainer h1{
    font-size: 2.6em;
  }
}
@media screen and (max-width:300px){
  .compContainer {
    font-size: 0.7em;
  }
  .compContainer h1{
    font-size: 2.2em;
  }
}
