@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

.contactMain {
  display: grid;
  grid-template-rows: 10vh 90vh;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #FAC0BF;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  font-family: 'DM Serif Text', serif;

  .contactTop {
    padding-right: 1em;
    padding-left: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .right {
      z-index: 1;
      display: flex;

      div {
        cursor: pointer;
        margin-left: 0.5em;
      }
    }

    .contactName {
      z-index: 0;
      position: absolute;
      margin-left: -1em;
      width: 100vw;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 900px) {
      .contactName {
        display: none;
      }
      .left{
        .span{
          font-size: 0.7em;
        }
      }
    }

    .left {
      z-index: 1;

      .span {
        font-weight: bolder;
        cursor: pointer;
        margin-right: 0.5em;
      }

      .span:hover {
        text-decoration: underline;
        text-decoration-style: double;
        text-decoration-color: #4A919E;

      }
    }
  }

  .contactBody {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }


  .contactBottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  }
}