$width: 70;
$height:  calc($width / 2);
.contactMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .contactBody {
    width: $width vw;
    height: $height vh;
    display: flex;
    align-items: center;
    justify-content: center;


    .contactRight {
      display: grid;
      width: 100%;
      grid-template-rows: 20% 5% 75%;
      font-family: "Roboto", sans-serif;
      font-weight: 600;

      .contactTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 4vw;
        letter-spacing: 0.2em;

      }

      .contactRightDividor {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          width: 46%;
        }

        div {
          margin-left: 0.5em;
          margin-right: 0.5em;
        }
      }

      .contactName {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 1em;

        .lastname {
          font-size: 20vw;
        }

        .firstname {
          font-size: 6vw;
          margin-top: 0.2em;
          writing-mode: vertical-rl;
          transform: scaleY(-1) scaleX(-1);
        }
      }
    }
  }
}