.contactMain {
  display: grid;
  grid-template-rows: 50% 50%;
  overflow-y: hidden;
  width: 100%;
  height: 100%;

  .contactTop {
    background-color: bisque;
  }

  .contactBottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .map {
      width: 100%;
    }

    .last {
      background-color: rgba(223, 253, 253, 0.57);
      display: flex;
      justify-content: center;
      height: 44vh;

      .contactForm {
        width: 85%;
        display: grid;
        grid-template-rows: 8vh auto 10vh;

        .title {padding-top: 0.5em;
          font-weight: 600;
          font-size: 1.9em;
          margin-bottom: 1em;
        }

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .placeholder {
          cursor: pointer;
          margin-right: 0.2em;
          margin-left: 0.2em;
          font-size: 1em;
          color: #2776da;
          font-weight: bold;

        }

        input {
          background-color: transparent;
          margin-right: 1em;
          margin-left: 1em;
          border-bottom: 1px solid cadetblue;
          border-top: none;
          border-left: none;
          border-right: none;
          outline: none;
          z-index: 1000;
        }

        input::placeholder {
          color: cadetblue;
          font-size: 0.7em;
        }

        textarea {
          background-color: transparent;
          border-bottom: 1px solid cadetblue;
          border-top: none;
          border-left: none;
          border-right: none;
          height: 5vh;
          width: 95%;
          outline: none;
        }

        .returnButtonMain {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;

          button {
            cursor: pointer;
            font-size: 0.8em;
            width: 7em;
            height: 3.5em;
          }
        }
      }
    }
  }
}