@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.main {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .bo {
    width: 25em;
    cursor: pointer;
    .name {
      font-stretch: 100%;
      font-weight: 600;

    }

    .buis {
      font-size: 2.5em;
      letter-spacing: 6px;
      font-weight: 600;
    }
  }
}








