.meMain {
  display: grid;
  grid-template-rows: 50% 50%;
  width: 100%;
  height: 100%;

  .meTop {
    background-color: bisque;
  }

  .meBottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    div:first-child {
      background-color: aqua;
    }
  }
}