@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.meMain {
  height: 87vh;
  position: relative;
  font-family: 'Cinzel', serif;
  display: flex;
  align-items: center;
  justify-content: center;

  .meCarrousel {
    font-family: 'Archivo Black', sans-serif;
    padding: 0.5em;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 7vh;
    height: 67vh;
    width: 75%;
    color: snow;
    font-size: 2em;
    span{
      color: #b3a577;
    }
  }
}

.meTitle {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0.5em;
  width: 4em;
  height: 14vh;
  font-weight: 700;
  font-size: 2em;
  z-index: 1;
}

.meTitleLeft {
  position: absolute;
  padding: 1em;
  font-weight: bold;
  left: -0.5em;
  top: 46%;
  writing-mode: vertical-rl;
  transform: scaleY(-1) scaleX(-1);
  z-index: 1;
}

.meTitleLeft2 {
  z-index: 1;
  font-weight: bold;
  position: absolute;
  padding: 1em;
  left: -0.5em;
  top: 17%;
  writing-mode: vertical-rl;
  transform: scaleY(-1) scaleX(-1);
}

.meTitleBottom {
  z-index: 1;
  font-weight: bold;
  position: absolute;
  padding: 1em;
  right: 1em;
  bottom: 2vh;
  font-size: 1.4em;
}
