@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.meMain {
  height: 87vh;
  position: relative;
  font-family: 'Cinzel', serif;
  display: flex;
  align-items: center;
  justify-content: center;

  .meCarrousel {
    font-family: 'Archivo Black', sans-serif;
    padding: 0.5em;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 7vh;
    height: 67vh;
    width: 75%;
    color: snow;
    font-size: 1.5vw;
    span {
      font-size: 1.7vw;
      color: #b3a577;
    }
  }
  @media (max-width: 800px) {
    .meCarrousel {
      font-size: 2vw;
      span{
        font-size: 2.2vw;
      }
    }
  }
}

.meTitle {
  display: flex;
  align-items: center;
  position: absolute;
  right: 2.5em;
  height: 24vh;
  background-color: transparent;
  font-weight: 700;
  z-index: 1;
}

.meTitleLeft {
  position: absolute;
  padding: 1em;
  width: 4em;
  font-weight: bold;
  top: 46%;
  left: 0;
  writing-mode: vertical-rl;
  transform: scaleY(-1) scaleX(-1);
  z-index: 1;
}

.meTitleLeft2 {
  z-index: 1;
  font-weight: bold;
  position: absolute;
  padding: 1em;
  left: 0;
  top: 17%;
  writing-mode: vertical-rl;
  transform: scaleY(-1) scaleX(-1);
}

.meTitleBottom {
  z-index: 1;
  font-weight: bold;
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
}


