@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.progress {
  display: flex;
  background-color: #242424;
  height: 1.5em;
  width: 98%;
  border: 3px double #333370;
  opacity: 0.6;
}

.progressDone {
  font-family: 'Yeseva One', cursive;
  padding-left: 1em;
  display: flex;
  align-items: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
  color: #3b3838;
}

@media screen and (max-width:600px){
.progressDone{
  font-size: smaller;
}
}