@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');

.progress {
  background-color: #242424;
  height: 2em;
  width: 68%;
  border: 3px double #333370;
  opacity: 0.6;
  border-radius: 15px;
}

.progressDone {
  font-family:'Ribeye', cursive,  serif;
  font-weight: bold;
  padding-left: 1em;
  color: #242424;
  display: flex;
  align-items: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
  border-radius: 15px;
}