$black: #141414;
$yellowGreen: yellowgreen;
$yellow: yellow;
$royalblue: royalblue;
$magenta: magenta;

.scrollContainer {
  display: grid;
  grid-template-columns: 3em auto 3em;
  height: 100vh;
  margin-top: -1em;
  margin-left: -1em;
  margin-right: -1em;

  .leftCol {
    position: relative;
    border-right: 3px solid black;

    .openLeft {
      position: absolute;
      width: 25em;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: rgb(224, 255, 27);
      left: 3em;
      border-right: 3px solid black;
      transition: left 0.2s ease-out;
    }

    .closeLeft {
      position: absolute;
      width: 25em;
      height: 100vh;
      background-color: rgb(224, 255, 27);
      left: -25em;
      transition: left 0.2s ease-out;
    }
  }

  .rightCol {
    position: relative;
    border-left: 3px solid black;

    .openRight {
      position: absolute;
      width: 25em;
      height: 100vh;
      background-color: rgb(224, 255, 27);
      right: 3em;
      border-left: 3px solid black;
      transition: right 0.2s ease-out;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .closeRight {
      position: absolute;
      width: 25em;
      height: 100vh;
      background-color: rgb(224, 255, 27);
      right: -25em;
      transition: right 0.2s ease-out;
      border-left: 3px solid black;
    }

  }

  .leftCol,
  .rightCol {
    background-color: rgb(224, 255, 27);
    display: grid;
    grid-auto-rows: 15vh auto;

    .leftFirst {
      cursor: pointer;
      border-bottom: 3px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      writing-mode: vertical-rl;
      font-size: 1.6em;
      margin-top: 0;

      svg {
        color: black;
        width: 0.3em;
      }
    }

    .rightFirst {
      cursor: pointer;
      border-bottom: 3px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      writing-mode: vertical-rl;
      font-size: 1.6em;
      margin-top: 0;

      svg {
        color: black;
        width: 0.5em;
      }
    }

    .leftFirst:hover {
      svg {
        width: 0.5em;
        margin-top: 0.2em;
        transition: all 1s ease-out;
      }
    }

    .rightFirst:hover {
      svg {
        width: 0.5em;
        margin-top: 0.2em;
        transition: all 1s ease-out;
      }
    }

    .leftSecond {
      padding-top: 2em;

      span {
        margin-right: auto;
        margin-left: auto;
        color: black;
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 1.8em;
        writing-mode: vertical-rl;
        rotate: 180deg;
      }
    }

    .rightSecond {
      padding-top: 2em;
      display: flex;
      justify-content: center;

      span {
        margin-right: auto;
        margin-left: auto;
        color: black;
        font-weight: 700;
        font-size: 1.8em;
        writing-mode: vertical-rl;
      }
    }
  }

  .skills {
    cursor: pointer;
    border-bottom: 3px solid black;
    padding: 0.1em 0.1em 0.1em 0.5em;
    font-size: 4em;
    background-color: rgb(224, 255, 27);
  }

  .focusSkills {
    cursor: pointer;
    border-bottom: 3px solid #3554f1;
    color: #3554f1;
    padding: 0.1em 0.1em 0.1em 0.5em;
    font-size: 4em;
    background-color: #e0faee;
    transition: background-color, color 0.5s ease-in-out;
  }

  .skills:hover {
    background-color: #e0faee;
    transition: background-color 0.5s ease-in-out;
  }

  .body {
    padding: 1em;
    background-color: #faf9f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: 1.6em;
      font-weight: 600;
    }
  }
}