[data-theme] {
  --theme-one-background: #f9fafb;
  --theme-two-background: #1b211a;
  --theme-three-background: #efb036;
}

[data-theme='theme-one'] {
  --background: #f9fafb;
  --foreground: #152d3c;
  --accent: #5a89c7;
  --icon-accent: #5a89c7;
  --muted: #6b7280;
  --border: #d1d5db;
}

[data-theme='theme-two'] {
  --background: #1b211a;
  --foreground: #ebd5ab;
  --accent: #628141;
  --icon-accent: #628141;
  --muted: #9ca3af;
  --border: #374151;
}

[data-theme='theme-three'] {
  --background: #efb036;
  --foreground: #23486a;
  --accent: #4c7b8b;
  --icon-accent: #4c7b8b;
  --muted: #3b6790;
  --border: #d6c6ad;
}
