[data-theme] {
  --theme-one-background: #f9fafb;
  --theme-two-background: #0e1e2e;
  --theme-three-background: #ce9e62;
}

[data-theme='theme-one'] {
  --background: #f9fafb;
  --foreground: #152d3c;
  --accent: #5a89c7;
  --muted: #6b7280;
  --border: #d1d5db;
}

[data-theme='theme-two'] {
  --background: #0e1e2e;
  --foreground: #ecdeae;
  --accent: #628141;
  --muted: #9eb9bc;
  --border: #39546a;
}

[data-theme='theme-three'] {
  --background: #ce9e62;
  --foreground: #23486a;
  --accent: #c1432e;
  --muted: #3b6790;
  --border: #d6c6ad;
}
