@use '@/styles/variables' as *;
@use 'sass:map';

.yellow {
  background-color: map.get($theme-yellow, background);

  .top-ligne {
    border-top: 2px solid map.get($theme-yellow, medium);
  }
}

.dark {
  background-color: map.get($theme-dark, background);

  .top-ligne {
    border-top: 2px solid map.get($theme-dark, light);
  }
}

.light {
  background-color: map.get($theme-light, background);

  .top-ligne {
    border-top: 2px solid map.get($theme-light, medium);
  }
}

.layout-main {
  position: relative;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 3.3em;
  z-index: 0;
}

.background {
  left: 0;
  top: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  opacity: 5%;
  position: absolute;
}

.l {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 100vh;
  width: 100%;

  .left-block {
    position: relative;
    padding-left: 1.8vh;
    width: 4vh;
    height: 100%;

    .date {
      position: absolute;
      bottom: 1vh;
      left: 2vh;
      white-space: nowrap;
      writing-mode: vertical-rl;
      text-orientation: sideways;
      -moz-transform: scale(-1, -1);
      -webkit-transform: scale(-1, -1);
      -o-transform: scale(-1, -1);
      -ms-transform: scale(-1, -1);
      transform: scale(-1, -1);

      svg {
        margin-bottom: 1em;
        height: 2.5vh;
      }
    }

    .top-left {
      position: absolute;
      top: 2vh;
      height: 30em;
    }

    .layout-nav {
      display: flex;
      flex-direction: column;

      .svg {
        cursor: pointer;
        margin-top: 1em;
        height: 1.2em;
      }

      .sv {
        margin-top: 1em;
      }
    }
  }

  .top-right {
    display: flex;
    column-gap: 1em;

    img {
      cursor: pointer;
      width: 1.5em;
    }
  }

  .bottom-block {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5em;
    bottom: 0;
    right: 0;
    padding-right: 1.9vh;
    padding-bottom: 0.5em;

    .link-a {
      color: #016dd9;
    }

    svg {
      cursor: pointer;
      height: 1.5em;
    }
  }
  .dimmed {
    opacity: 0.5;
  }
}
