@import "../../styles/_variables";

.yellow {
  background-color: map-get($theme-yellow, background);
  color: map-get($theme-yellow, primaryText);
  .top-ligne {
    border-top: 2px solid map-get($theme-yellow, medium);
  }
}
.dark {
  background-color: map-get($theme-dark, background);
  color: map-get($theme-dark, light);
  .top-ligne {
    border-top: 2px solid map-get($theme-dark, medium);
  }
}
.light {
  background-color: map-get($theme-light, background);
  color: map-get($theme-light, primaryText);
  .top-ligne {
    border-top: 2px solid map-get($theme-light, medium);
  }
}

.layout-main {
  position: relative;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 3.3em;
}
.background {
  left: 0;
  top: 0;
  width: 100%;
  opacity: 3%;
  position: absolute;
}

.l {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 99vh;
  width: 99.5vw;

  .left-block {
    position: relative;
    padding-left: 1.9vh;
    width: 4vh;
    height: 98vh;
    .date {
      position: absolute;
      bottom: 0;
      left: 2vh;
      white-space: nowrap;
      writing-mode: vertical-rl;
      text-orientation: sideways;
      -moz-transform: scale(-1, -1);
      -webkit-transform: scale(-1, -1);
      -o-transform: scale(-1, -1);
      -ms-transform: scale(-1, -1);
      transform: scale(-1, -1);
      svg {
        margin-bottom: 1em;
      }
    }
    .top-left {
      position: absolute;
      top: 3vh;
      height: 30em;
    }
    .layout-nav {
      display: flex;
      flex-direction: column;
      .svg {
        cursor: pointer;
        margin-top: 1em;
      }
    }
  }

  .top-block {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 3vh;
    padding-right: 2vh;
    top: 0;
    position: absolute;
    width: 100%;
    height: 4vh;
    padding-top: 3vh;

    .top-ligne {
      width: 10em;
      display: block;
      height: 1px;
      padding: 0;
    }

    .top-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 1em;
      padding-right: 4vh;
      img {
        cursor: pointer;
        width: 1.5em;
      }
    }
  }
}
