@use '../styles/tokens' as t;

.heroTitle {
  font-size: t.$text-title;
  font-weight: t.$font-weight-light;
  text-align: center;
}

.stampSection {
  display: grid;
  place-items: center;
}

@media (max-width: 500px) {
  .stampSection {
    padding: t.$space-3xl t.$space-md;
  }
}
