@import "../../styles/_variables";

.postal {
  width: 77vw;
  aspect-ratio: 16/9;
  position: relative;
  display: grid;
  grid-template-columns: 49.5% 1% 49.5%;
  border: 4px solid;

  .timbre {
    position: absolute;
    right: 1.3em;
    top: 1.3em;

    img {
      transform: rotate(0.01turn);
      height: 10vw;
    }
    .stamp-ext{
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
      height: 7vw;
      width: 8vw;
      position: absolute;
      top:5vw;
      right: 2vw;
      display: flex;
      justify-content: center;
      align-items: center;
      .s{
        width: 7vw;
        height: auto;
      }
    }
    .hidden{
      opacity: 0;
      pointer-events: none;
      height: 0;
    }
    .visible{
      opacity: 1;
    }
  }

  .form-left {
    position: absolute;
    top: 12vw;
    height: 25vw;
    left: 3vw;
    width: 30vw;
    z-index: 10;

    textarea {
      font-size: 1vw;
      padding: 0.5vw;
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      background-color: transparent;
      color: inherit;

    }

  }

  .separator {
    margin-top: auto;
    margin-bottom: auto;
    height: 70%;
    border-right: 4px solid;
  }

  .form-right {
    font-size: 1vw;
    position: absolute;
    width: 30vw;
    height: 15vw;
    top: 15vw;
    right: 3vw;

    input {
      color: inherit;
      padding-left: 1vh;
      background-color: transparent;
      width: 100%;
      height: 4vh;
      border: none;
      outline: none;
      border-bottom: 2px solid;
      margin-bottom: 1vh;
    }
  }

  .send {
    border: 2px solid ;
    background-color: transparent;
    color: inherit;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    bottom: 1em;
    right: 1em;
    outline: none;
  }
  .send:hover{
    background-color: #0a5462;
    color: #e0e2e8;
  }
}
