.block {
  border: black 4px double;
  padding: 1.5em;
  background-color: #097fa5;
}

.row {
  display: flex;
}

.blockUnit {
  background: #b57645;
  width: 2.1em;
  height: 2.1em;
  border: 2px solid black;
  margin: 0.01em;
  font-size: 2.6em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset {
  padding: 1em;
  color: snow;
  font-size: 1.5em;
}

.reset:hover {
  color: black;
  cursor: pointer;
}

.gameOver {
  position: absolute;
  width: 22em;
  height: 22em;
  border: 5px double black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3dada;
}

.iconCont {
  display: grid;
  grid-template-columns: 4em 4em 4em;
  grid-template-rows: 4em 4em 4em;
  grid-gap: 0.5em;
  padding: 0.5em;
  display: none;
}
.iconUp{
  grid-row: 1;
  grid-column: 2;
  margin: auto;
  font-size: 3em;
}
.iconDown{
  grid-row: 3;
  grid-column: 2;
  margin: auto;
  font-size: 1.8em;
}
.iconLeft{
  grid-row: 2;
  grid-column: 1;
  margin: auto;
  font-size: 1.8em;
}
.iconRight{
  grid-row: 2;
  grid-column: 3;
  margin: auto;
  font-size: 1.8em;
}
.pad{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
@media screen and (max-width:450px){
  .iconCont {
    display: grid;
    grid-template-columns: 4em 4em 4em;
    grid-template-rows: 4em 4em 4em;
    grid-gap: 0.5em;
    padding: 0.5em;
  }
}