@use '@/styles/tokens' as t;

.container {
  min-height: 100vh;
  min-height: 100svh;
  background: var(--background);
  color: var(--foreground);
}

.desktopThemeSwitcher {
  display: inline-flex;
}

@media (max-width: t.$breakpoint-md) {
  .desktopThemeSwitcher {
    display: none !important;
  }
}
