.layoutMain {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 8vh 92vh;
  position: relative;

  .themeContainer {
    z-index: 2;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 20vh;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px -25px 50px -12px;

    .themeContainerLeft {

      position: absolute;
      width: 100%;
      height: 20vh;
      display: flex;
      align-items: center;
      justify-content: center;

      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        width: 70vw;
        height: 10vh;
      }

      @media screen and (max-width: 800px) {
        .container {
          align-items: center;
          justify-content: center;
          display: grid;
          grid-template-columns: 32% 32% 32%;
          grid-gap: 0.5em;
          grid-template-rows: 50% 50%;
          height: 15vh;
        }
      }
    }

    .close {
      margin-right: 1em;
      margin-top: 1em;
      margin-left: auto;
      height: 3.5vh;
      z-index: 100;
      cursor: pointer;
    }
  }

  .layoutHeader {
    border-bottom: 1px solid #0c0000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;

    .headerLeft {
      display: flex;

      div {
        margin-right: 2em;
      }
    }

    .headerRight {
      display: flex;
      align-items: center;
      width: 20vh;
      justify-content: space-between;

      .arrow {
        height: 1.5em;
      }

      img {
        cursor: pointer;
      }
    }
  }

  .layoutChildren {
    display: grid;
    grid-template-columns: 4em auto 4em;
    height: 92vh;

    .border {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 92vh;
    }
    .children{
      padding: 1em;
    }
  }
}
