.layoutMain {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 6vh 94vh;
  position: relative;

  .themeContainer {
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 20vh;
    display: flex;

    .themeContainerLeft {
      position: absolute;
      width: 100%;
      height: 20vh;
      display: flex;
      align-items: center;
      justify-content: center;
      .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        width: 70vw;
        height: 10vh;
      }
    }

    .close {
      margin-right: 1em;
      margin-top: 1em;
      margin-left: auto;
      height: 5vh;
      z-index: 100;
      cursor: pointer;
    }
  }

  .layoutHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    color: blanchedalmond;
    img {
      cursor: pointer;
      height: 4vh;
    }
  }

  .layoutChildren {
    padding: 1em;
  }
}
